<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Guess a number:</h1>
    <a href="http://localhost:8080/roll-dice/1">1</a>
    <a href="http://localhost:8080/roll-dice/2">2</a>
    <a href="http://localhost:8080/roll-dice/3">3</a>
    <a href="http://localhost:8080/roll-dice/4">4</a>
    <a href="http://localhost:8080/roll-dice/5">5</a>
    <a href="http://localhost:8080/roll-dice/6">6</a>

    <h1 th:text="${number}"></h1>
    <p th:text="${answer}"></p>
</body>
</html>